{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Add Meal
{% endblock %}

{% block body %}
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            <div class="container">
                <div class="well">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
{% endblock %}