{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Manage Users
{% endblock %}

{% block body %}
<div class="table">
    <div class="tr">
        <div class="th"> xxx</div>
        <div class="th"> xxx</div>
        <div class="th"> xxx</div>
    </div>
    <div class="tr">
        <div class="td"> xxx</div>
        <div class="td"> xxx</div>
        <div class="td"> xxx</div>
    </div>
    <div class="tr">
        <div class="td"> xxx</div>
        <div class="td"> xxx</div>
        <div class="td"> xxx</div>
    </div>

</div>
{% endblock %}