.container

{
	background: none;
	overflow:none;
	display: block;
	z-index: 1;

}

.firstlayer{
	background: #fff;
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
	min-height: 100%;
	max-height:100%;
	width: 850px;

}
.fanpageCarousel li {
    height: 450px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.rest_img {
    width: 38%;
    float: left;
    position: relative;
}

.details_left {
    width: 46.5%;
    margin: 8px 0 4px 12px;
    float: left;
}

body
{
    font-family: "Ubuntu", Times New Roman, sans-serif!important;
}